

<font style="font-size: 2rem; color: blue">

1.	Import Libraries and the Data 
2.  Clean Customer Features 
3.  Clean Garment Description Data
       
</font>

In [1]:
#Import the necessary libraries. 
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import re
pd.set_option("display.max_columns",None)
pd.set_option("display.max_rows",None)

In [2]:
#Import the Data Set 
df1 =  pd.read_csv('Raw_Data_Rent_the_Runway(1).csv')
df2 =  pd.read_csv('Raw_Data_Rent_the_Runway(2).csv')
df3 =  pd.read_csv('Raw_Data_Rent_the_Runway(3).csv')
df4 =  pd.read_csv('Raw_Data_Rent_the_Runway(4).csv')
df5 =  pd.read_csv('Raw_Data_Rent_the_Runway(5).csv')
df6 =  pd.read_csv('Raw_Data_Rent_the_Runway(6).csv')
df7 =  pd.read_csv('Raw_Data_Rent_the_Runway(7).csv')
df8 =  pd.read_csv('Raw_Data_Rent_the_Runway(8).csv')
df9 =  pd.read_csv('Raw_Data_Rent_the_Runway(9).csv')
df10 =  pd.read_csv('Raw_Data_Rent_the_Runway(10).csv')
df11 =  pd.read_csv('Raw_Data_Rent_the_Runway(11).csv')

In [3]:
#Join all the data sets into one data set 
df = pd.concat([df1, df2,df3,df4,df5,df6,df7,df8,df9,df10,df11])
df = df.reset_index(drop=True)

In [4]:
#The data set has 24 features and 208,474 observations. 
df.shape

(208474, 24)

In [5]:
#Create a checklist which will be used to make sure the cleaning is fone correctly. 
check_list=[1,45,200,1100,6565,7500]
check_list

[1, 45, 200, 1100, 6565, 7500]

In [6]:
#Rename the columns 
df.columns = ["title_of_review","image","Nickname","Label",
              "Size","Overall_fit","Rented_for","Size_usually_worn",
              "Height","Age","Label6","Bust_size","Label8","Body_type",
              "Weight","Rating","Date","Review_body","Brand","Dress_Description","Retail_price",
              "Rent_price","Product_details","Number_of_reviews"]
#Drop columns that are not using 
df.drop(columns = ["title_of_review","image","Nickname","Date","Review_body","Label"],inplace=True)


<font style="font-size: 2rem; color: blue">

2. Clean Features: 
<br>
<br>Number of Reviews, Ratings, Retail Price, Rent Price 
<br>– get rid of unnecessary characters and recast as an integer. 
       
</font>

In [8]:
#Checkout the Number of Reviews Column to make sure that there 
print(f"The data frame has {df.shape[0]} observations. There are {df.Number_of_reviews.isna().sum()} nulls for the Number_of_reviews feature. ")
for i in check_list:
    print(df["Number_of_reviews"][i])
#Get rid of unnecessary characters in some entries. 
df["Number_of_reviews"]=df["Number_of_reviews"].replace(" reviews","", regex=True).replace(" review","", regex=True)

for i in check_list:
    print(df["Number_of_reviews"][i])

df["Number_of_reviews"]=df["Number_of_reviews"].astype("int")

The data frame has 208474 observations. There are 0 nulls for the Number_of_reviews feature.
33 reviews
97 reviews
140 reviews
21 reviews
59 reviews
109 reviews
33
97
140
21
59
109

In [9]:
#Checkout the Rating Column to make sure that there 
print(f"The data frame has {df.shape[0]} observations. There are {df.Rating.isna().sum()} nulls for the Rating feature. ")
print(df.Rating.value_counts())
#Get rid of unnecessary characters in some entries. 
df["Rating"]=df["Rating"].replace(" out of 5 stars","", regex=True)
df["Rating"]=df["Rating"].replace("\(","", regex=True)
df["Rating"]=df["Rating"].replace("\)","", regex=True)
df["Rating"]=df["Rating"].astype("int")
print(df.Rating.value_counts())

The data frame has 208474 observations. There are 0 nulls for the Rating feature.
(5 out of 5 stars)    125250
(4 out of 5 stars)     47480
(3 out of 5 stars)     20194
(2 out of 5 stars)      8681
(1 out of 5 stars)      6869
Name: Rating, dtype: int64
5    125250
4     47480
3     20194
2      8681
1      6869
Name: Rating, dtype: int64

In [10]:
#Drop the nulls in the Retail Price area. 
df.dropna(subset=['Retail_price'],inplace=True)

In [11]:
df = df.reset_index()

In [12]:
df.drop(columns=["index"],inplace=True)

In [13]:
#Checkout the Retail Price  Column to make sure that there 
print(f"The data frame has {df.shape[0]} observations. There are {df.Retail_price.isna().sum()} nulls for the Retail_price feature. ")
df.Retail_price.value_counts();
df["Retail_price"]=df["Retail_price"].replace(",","", regex=True)
#This is a test to make sure that the dollar amounts were converted correctly. 
for i in check_list:
    print(df["Retail_price"][i])
df["Retail_price"] = df["Retail_price"].str.extract(r"(\d+)",expand=True)
for i in check_list:
    print(df["Retail_price"][i])

df["Retail_price"]=df["Retail_price"].astype("int")

The data frame has 208362 observations. There are 0 nulls for the Retail_price feature.
$478 original retail
$495 original retail
$595 original retail
$218 original retail
$368 original retail
$498 original retail
478
495
595
218
368
498

In [14]:
#Checkout the Rent Price Column to make sure that there 
print(f"The data frame has {df.shape[0]} observations. There are {df.Rent_price.isna().sum()} nulls for the Rent_price feature. ")
df["Rent_price"]=df["Rent_price"].replace(",","", regex=True)
#This is a test to make sure that the dollar amounts were converted correctly. 
for i in check_list:
    print(df["Rent_price"][i])
df["Rent_price"] = df["Rent_price"].str.extract(r"(\d+)",expand=True)
for i in check_list:
    print(df["Rent_price"][i])
df["Rent_price"]=df["Rent_price"].astype("int")

The data frame has 208362 observations. There are 0 nulls for the Rent_price feature.
$70
$68 – $78
$100
$35
$60
$80
70
68
100
35
60
80

In [15]:
#Get rid of observations where there are nulls in all 5 customer measurement features. 
df.dropna(how="all",subset=['Age','Weight','Body_type','Bust_size','Height'], inplace=True)

In [16]:
df = df.reset_index()

In [17]:
df.drop(columns=["index"],inplace=True)

In [18]:
#Fill in the null values in columns Size Usually Worn, Age, Weight, Body_type, Bust_size and Height as "unknown" for now
df['Rented_for'].fillna("unknown", inplace=True)
df['Size_usually_worn'].fillna("unknown", inplace=True)
df['Age'].fillna("unknown", inplace=True)
df['Weight'].fillna("unknown", inplace=True)
df['Body_type'].fillna("unknown", inplace=True)
df['Bust_size'].fillna("unknown", inplace=True)
df['Height'].fillna("unknown", inplace=True)

<font style="font-size: 2rem; color: blue">

2. Clean Misplaced Features: 
<br>
<br>Weight 
<br>– find the weights which were entered in other columns. 
       
</font>

In [19]:
#Weight in Body Type fix rows 
weight_in_body_type=[]
for i in range(df.shape[0]):
    if "LBS" in df["Body_type"][i]:
        weight_in_body_type.append(i)
print(f"There are {len(weight_in_body_type)} observations where the weight is entered in the Body Type column. ")
print("Should match with this number:")
print(df.Label8.value_counts()["Weight: "])

print("Example of one such row BEFORE the transformation:")
print(f"This is the body type entry for row {weight_in_body_type[0]}")
print(df["Body_type"][weight_in_body_type[0]])
print(f"This is the weight type entry for {weight_in_body_type[0]}")
print(df["Weight"][weight_in_body_type[0]])

#Grab all the weights accidently entered into the Body Type column:
#(1) Enter them into the weight column
#(2) Replace the body type observation with "unknown"
for i in weight_in_body_type:
    df.at[i, "Weight"] = df["Body_type"][i]
    df.at[i, "Body_type"] = "unknown"
    
    
print("Example of one such row AFTER the transformation:")
print(f"This is the body type entry for row {weight_in_body_type[0]}")
print(df["Body_type"][weight_in_body_type[0]])
print(f"This is the weight type entry for {weight_in_body_type[0]}")
print(df["Weight"][weight_in_body_type[0]])

There are 12220 observations where the weight is entered in the Body Type column.
Should match with this number:
12220
Example of one such row BEFORE the transformation:
This is the body type entry for row 13
155LBS
This is the weight type entry for 13
unknown
Example of one such row AFTER the transformation:
This is the body type entry for row 13
unknown
This is the weight type entry for 13
155LBS

In [21]:
#Weight in Bust_Size fix rows 
weight_in_bust_size=[]
for i in range(df.shape[0]):
    if "LBS" in df["Bust_size"][i]:
        weight_in_bust_size.append(i)

print(f"There are {len(weight_in_bust_size)} observations where the weight is entered in the Bust Size column. ")
print("Should match with this number:")
print(df.Label6.value_counts()["Weight: "])

print("Example of one such row before the transformation:")
print(f"This is the bust size  entry for row {weight_in_bust_size[0]}")
print(df["Bust_size"][weight_in_bust_size[0]])
print(f"This is the weight type entry for {weight_in_bust_size[0]}")
print(df["Weight"][weight_in_bust_size[0]])

#Grab all the weights accidently entered into the Bust Size column:
#(1) Enter them into the weight column
#(2) Replace the Bust Size  observation with "unknown"
for i in weight_in_bust_size:
    df.at[i, "Weight"] = df["Bust_size"][i]
    df.at[i, "Bust_size"] = "unknown"
print("Example of one such row AFTER the transformation:")
print(f"This is the bust size  entry for row {weight_in_bust_size[0]}")
print(df["Bust_size"][weight_in_bust_size[0]])
print(f"This is the weight type entry for {weight_in_bust_size[0]}")
print(df["Weight"][weight_in_bust_size[0]])

There are 957 observations where the weight is entered in the Bust Size column.
Should match with this number:
957
Example of one such row before the transformation:
This is the bust size  entry for row 326
135LBS
This is the weight type entry for 326
unknown
Example of one such row AFTER the transformation:
This is the bust size  entry for row 326
unknown
This is the weight type entry for 326
135LBS

In [22]:
#Weight in Age fix rows 
weight_in_age=[]
for i in range(df.shape[0]):
    if "LBS" in df["Age"][i]:
        weight_in_age.append(i)

print(f"There are {len(weight_in_age)} observations where the weight is entered in the age column. ")

print("Example of one such row BEFORE the transformation:")
print(f"This is the age  entry for row {weight_in_age[0]}")
print(df["Age"][weight_in_age[0]])
print(f"This is the weight entry for {weight_in_age[0]}")
print(df["Weight"][weight_in_age[0]])

#Grab all the weights accidently entered into the Age column:
#(1) Enter them into the weight column
#(2) Replace the Age  observation with "unknown"
for i in weight_in_age:
    df.at[i, "Weight"] = df["Age"][i]
    df.at[i, "Age"] = "unknown"
print("Example of one such row AFTER the transformation:")
print(f"This is the age  entry for row {weight_in_age[0]}")
print(df["Age"][weight_in_age[0]])
print(f"This is the weight entry for {weight_in_age[0]}")
print(df["Weight"][weight_in_age[0]])

There are 63 observations where the weight is entered in the age column.
Example of one such row BEFORE the transformation:
This is the age  entry for row 6299
155LBS
This is the weight entry for 6299
unknown
Example of one such row AFTER the transformation:
This is the age  entry for row 6299
unknown
This is the weight entry for 6299
155LBS

In [23]:
#Weight in Height fix rows 
weight_in_height=[]
for i in range(df.shape[0]):
    if "LBS" in df["Height"][i]:
        weight_in_height.append(i)
print(f"There are {len(weight_in_height)} observations where the weight is entered in the height column. ")
if len(weight_in_height)>0:
    print(f"There are {len(weight_in_height)} observations where the weight is entered in the height column. ")
    print("Example of one such row BEFORE the transformation:")
    print(f"This is height entry for row {weight_in_height[0]}")
    print(df["Height"][weight_in_height[0]])
    print(f"This is the weight entry for {weight_in_height[0]}")
    print(df["Weight"][weight_in_height[0]])

#Grab all the weights accidently entered into the Height column:
#(1) Enter them into the weight column
#(2) Replace the Height  observation with "unknown"
for i in weight_in_height:
    df.at[i, "Weight"] = df["Height"][i]
    df.at[i, "Height"] = "unknown"
print("Example of one such row before the transformation:")
print(f"This is height entry for row {weight_in_height[0]}")
print(df["Height"][weight_in_height[0]])
print(f"This is the weight entry for {weight_in_height[0]}")
print(df["Weight"][weight_in_height[0]])

There are 7 observations where the weight is entered in the height column.
There are 7 observations where the weight is entered in the height column.
Example of one such row BEFORE the transformation:
This is height entry for row 30999
130LBS
This is the weight entry for 30999
unknown

In [27]:
#Strip the weights off the "LBS" and clean up weights entered two or three times. 
print("Before:")
for i in check_list:
    print(df["Weight"][i])
for i in range(df.shape[0]):
    if df["Weight"][i][0]=="1" or df["Weight"][i][0]=="2":
        df.at[i, "Weight"]=df["Weight"][i][:3]
    elif df["Weight"][i][0]=="9" or df["Weight"][i][0]=="8":
        df.at[i, "Weight"]=df["Weight"][i][:2]
    elif df["Weight"][i][0]=="3":
        df.at[i, "Weight"] = "unknown"

df["Weight"]=df["Weight"].replace("l","0", regex=True).replace("L","0", regex=True)

for i in range(df.shape[0]):
    if "b" in df["Weight"][i].lower():
        df.at[i, "Weight"] = "unknown"
print("After:")
for i in check_list:
    print(df["Weight"][i])

Before:
unknown
145LBS
180LBS
unknown
185LBS
150LBS
After:
unknown
145
180
unknown
185
150

<font style="font-size: 2rem; color: blue">

2. Clean Misplaced Features : 
<br>
<br>Body Types 
<br>– find the weights which were entered in other columns. 
       
</font>

In [29]:
list_of_body_types = ['athletic','hourglass','pear','apple','fullbust','straightnarrow','petite','ATHLETIC',
 'HOURGLASS',
 'PEAR',
 'APPLE',
 'FULLBUST',
 'STRAIGHTNARROW',
 'PETITE']

In [30]:
#look at the rows where the body type has been entered into the bust_size 
body_type_in_bust_size=[]
for i in range(df.shape[0]):
    if df["Label6"][i]=="Body type: ":
        body_type_in_bust_size.append(i)
print(f"There are {len(body_type_in_bust_size)} observations where the body_type is entered in the Bust_size column. ")
print("Should match with this number:")
print(df.Label6.value_counts()["Body type: "])
print("These are one such row before transformation")
print(f"This is bust size  entry for row {body_type_in_bust_size[5]}")
print(df["Bust_size"][body_type_in_bust_size[5]])
print(f"This is the body type entry for {body_type_in_bust_size[5]}")
print(df["Body_type"][body_type_in_bust_size[5]])

#Grab all the body type accidently entered into the bust size  column:
#(1) Enter them into the body type column
#(2) Replace the bust size  observation with "unknown"
for i in body_type_in_bust_size:
    df.at[i, "Body_type"] = df["Bust_size"][i].lower().replace(" & ","").replace(" ","")
    df.at[i, "Bust_size"]="unknown"
print("These are one such row AFTER  transformation")
print(f"This is bust size  entry for row {body_type_in_bust_size[5]}")
print(df["Bust_size"][body_type_in_bust_size[5]])
print(f"This is the body type entry for {body_type_in_bust_size[5]}")
print(df["Body_type"][body_type_in_bust_size[5]])

There are 18225 observations where the body_type is entered in the Bust_size column.
Should match with this number:
18225
These are one such row before transformation
This is bust size  entry for row 29
HOURGLASS
This is the body type entry for 29
unknown
These are one such row AFTER  transformation
This is bust size  entry for row 29
unknown
This is the body type entry for 29
hourglass

In [31]:
#Get rid of the + symbol in the some of the bust sizes. 
df["Bust_size"]=df["Bust_size"].replace("\+","", regex=True)

In [32]:
#look at the rows where the body type has been entered into the Age 
body_type_in_age=[]
for i in range(df.shape[0]):
    if df["Age"][i].lower().replace(" & ","").replace(" ","") in list_of_body_types:
        body_type_in_age.append(i)
        
print(f"There are {len(body_type_in_age)} observations where the body_type is entered in the Bust_size column. ")

print("These are one such row before transformation")
print(f"This is Age entry for row {body_type_in_age[-1]}")
print(df["Age"][body_type_in_age[-1]])
print(f"This is the body type entry for {body_type_in_age[-1]}")
print(df["Body_type"][body_type_in_age[-1]])

#Grab all the body type accidently entered into the Age  column:
#(1) Enter them into the body type column
#(2) Replace the Age  observation with "unknown"
for i in body_type_in_age:
    df.at[i, "Body_type"] = df["Age"][i].lower().replace(" & ","").replace(" ","")
    df.at[i, "Age"]="unknown"
    
    
print("These are one such row AFTER transformation")
print(f"This is Age entry for row {body_type_in_age[-1]}")
print(df["Age"][body_type_in_age[-1]])
print(f"This is the body type entry for {body_type_in_age[-1]}")
print(df["Body_type"][body_type_in_age[-1]])

There are 184 observations where the body_type is entered in the Bust_size column.
These are one such row before transformation
This is Age entry for row 202066
ATHLETIC
This is the body type entry for 202066
unknown
These are one such row AFTER transformation
This is Age entry for row 202066
unknown
This is the body type entry for 202066
athletic

In [33]:
#look at the rows where the body type has been entered into the Height 
body_type_in_height=[]
for i in range(df.shape[0]):
    if df["Height"][i].lower().replace(" & ","").replace(" ","") in list_of_body_types:
        body_type_in_height.append(i)
print(f"There are {len(body_type_in_height)} observations where the body_type is entered in the Height column. ")
if len(body_type_in_height)>0:
    print("These are one such row before transformation")
    print(f"This is height entry for row {body_type_in_height[0]}")
    print(df["Height"][body_type_in_height[0]])
    print(f"This is the body type entry for {body_type_in_height[0]}")
    print(df["Body_type"][body_type_in_height[0]])
    
    #Grab all the body type accidently entered into the Height  column:
    #(1) Enter them into the body type column
    #(2) Replace theHeight observation with "unknown"
    for i in body_type_in_height:
        df.at[i, "Body_type"] = df["Height"][i].lower().replace(" & ","").replace(" ","")
        df.at[i, "Height"]="unknown"


    print("These are one such row AFTER transformation")
    print(f"This is height entry for row {body_type_in_height[0]}")
    print(df["Height"][body_type_in_height[0]])
    print(f"This is the body type entry for {body_type_in_height[0]}")
    print(df["Body_type"][body_type_in_height[0]])

There are 7 observations where the body_type is entered in the Height column.
These are one such row before transformation
This is height entry for row 14358
HOURGLASS
This is the body type entry for 14358
unknown
These are one such row AFTER transformation
This is height entry for row 14358
unknown
This is the body type entry for 14358
hourglass

In [35]:
#Clean up the body types 
for i in range(df.shape[0]):
    df.at[i, "Body_type"] = df["Body_type"][i].lower().replace(" & ","").replace(" ","")

In [36]:
#Final check of Body Types. Should just be body types here. 
df.Body_type.value_counts()

hourglass         60275
athletic          44339
pear              22990
petite            20585
unknown           16613
fullbust          16566
straightnarrow    13827
apple              7079
Name: Body_type, dtype: int64

<font style="font-size: 2rem; color: blue">

2. Clean Features: 
<br>
<br>Bust Sizes 
<br>– find the weights which were entered in other columns. 
       
</font>

In [37]:
#Bust_size_in_Age_Column 
bust_size_in_age=[]
pattern = "^.*[0-9]{2}[a-zA-Z]{1}.*$"
for i in range(df.shape[0]):
    if re.match(pattern, df["Age"][i]): 
        bust_size_in_age.append(i)
    
print(f"There are {len(bust_size_in_age)} observations where the bust_size is entered in the age column. ")

print("This is one such observation BEFORE transformation:")
print(f"This is age entry for row {bust_size_in_age[0]}")
print(df["Age"][bust_size_in_age[0]])
print(f"This is the body type entry for {bust_size_in_age[0]}")
print(df["Bust_size"][bust_size_in_age[0]])

#Grab all the bust size  accidently entered into the Age  column:
#(1) Enter them into the bust size  column
#(2) Replace the Age  observation with "unknown"
for i in bust_size_in_age:
    df.at[i, "Bust_size"] = df["Age"][i]
    df.at[i, "Age"] = "unknown"

print("This is one such observation AFTER transformation:")
print(f"This is age entry for row {bust_size_in_age[0]}")
print(df["Age"][bust_size_in_age[0]])
print(f"This is the body type entry for {bust_size_in_age[0]}")
print(df["Bust_size"][bust_size_in_age[0]])

There are 1972 observations where the bust_size is entered in the age column.
This is one such observation BEFORE transformation:
This is age entry for row 137
34D
This is the body type entry for 137
unknown
This is one such observation AFTER transformation:
This is age entry for row 137
unknown
This is the body type entry for 137
34D

In [38]:
#Bust_size_in_Height_Column 
bust_size_in_height=[]
pattern = "^.*[0-9]{2}[a-zA-Z]{1}.*$"
for i in range(df.shape[0]):
    if re.match(pattern, df["Height"][i]):
        bust_size_in_height.append(i)
print(f"There are {len(bust_size_in_height)} observations where the bust_size is entered in the height column. ")

print("This is one such observation BEFORE transformation:")
print(f"This is height entry for row {bust_size_in_height[0]}")
print(df["Height"][bust_size_in_height[0]])
print(f"This is the bust size  entry for {bust_size_in_height[0]}")
print(df["Bust_size"][bust_size_in_height[0]])

#Grab all the bust size  accidently entered into the Height column:
#(1) Enter them into the bust size  column
#(2) Replace the Height observation with "unknown"
for i in bust_size_in_height:
    df.at[i, "Bust_size"] = df["Height"][i]
    df.at[i, "Height"] = "unknown"

print("This is one such observation AFTER transformation:")
print(f"This is height entry for row {bust_size_in_height[0]}")
print(df["Height"][bust_size_in_height[0]])
print(f"This is the bust size  entry for {bust_size_in_height[0]}")
print(df["Bust_size"][bust_size_in_height[0]])

There are 62 observations where the bust_size is entered in the height column.
This is one such observation BEFORE transformation:
This is height entry for row 6299
36B
This is the bust size  entry for 6299
unknown
This is one such observation AFTER transformation:
This is height entry for row 6299
unknown
This is the bust size  entry for 6299
36B

<font style="font-size: 2rem; color: blue">

2. Clean Misplaced Features : 
<br>
<br>Age 
<br>– find the weights which were entered in other columns. 
       
</font>

In [39]:
#Age entered in Height Columnn
age_in_height = []
for i in range(df.shape[0]):
    if str(df["Height"][1][1]) not in str(df["Height"][i]) and "unknown" not in str(df["Height"][i]):
        age_in_height.append(i)

print(f"There are {len(age_in_height)} observations where the age is entered in the height column. ")   

print("This is one such observation BEFORE transformation:")
print(f"This is age entry for row {age_in_height[0]}")
print(df["Height"][age_in_height[0]])
print(f"This is the height entry for {age_in_height[0]}")
print(df["Age"][age_in_height[0]])

#Grab all the Age accidently entered into the Height column:
#(1) Enter them into the age column
#(2) Replace the Height observation with "unknown"
for i in age_in_height:
    df.at[i, "Age"] = df["Height"][i]
    df.at[i, "Height"] = "unknown"
    
print("This is one such observation AFTER transformation:")
print(f"This is age entry for row {age_in_height[0]}")
print(df["Height"][age_in_height[0]])
print(f"This is the height entry for {age_in_height[0]}")
print(df["Age"][age_in_height[0]])

There are 4893 observations where the age is entered in the height column.
This is one such observation BEFORE transformation:
This is age entry for row 72
28
This is the height entry for 72
unknown
This is one such observation AFTER transformation:
This is age entry for row 72
unknown
This is the height entry for 72
28

<font style="font-size: 2rem; color: blue">

2. Clean Misplaced Features : 
<br>
<br>Height 
<br>– find the weights which were entered in other columns. 
       
</font>

In [40]:
#Height entered in the size usually worn 
height_in_usual_size = []
for i in range(df.shape[0]):
    if str(df["Height"][1][1]) in str(df["Size_usually_worn"][i]):
        height_in_usual_size.append(i)
print(f"There are {len(height_in_usual_size)} observations where the height is entered in the Size_Usually_worn column. ") 

print("This is one such observation BEFORE transformation:")
print(f"This is Size_usually_worn entry for row {height_in_usual_size[0]}")
print(df["Size_usually_worn"][height_in_usual_size[0]])
print(f"This is the height entry for {height_in_usual_size[0]}")
print(df["Height"][height_in_usual_size[0]])


#Grab all the heights accidently entered into the Size Usually Worn column:
#(1) Enter them into the height column
#(2) Replace the Size Usually Worn  observation with "unknown"

for i in height_in_usual_size:
    df.at[i, "Height"] = df["Size_usually_worn"][i]
    df.at[i, "Size_usually_worn"] = "unknown"
    
print("This is one such observation AFTER transformation:")
print(f"This is Size_usually_worn entry for row {height_in_usual_size[0]}")
print(df["Size_usually_worn"][height_in_usual_size[0]])
print(f"This is the height entry for {height_in_usual_size[0]}")
print(df["Height"][height_in_usual_size[0]])

There are 354 observations where the height is entered in the Size_Usually_worn column.
This is one such observation BEFORE transformation:
This is Size_usually_worn entry for row 826
5' 6"
This is the height entry for 826
unknown
This is one such observation AFTER transformation:
This is Size_usually_worn entry for row 826
unknown
This is the height entry for 826
5' 6"

<font style="font-size: 2rem; color: blue">

2. Clean Misplaced Features : 
<br>
<br>Rented for reasons
<br>– find the weights which were entered in other columns. 
       
</font>

In [43]:
# "Rented for" observations entered in "Overall Fit"
rented_for_in_overall_fit = []
for i in range(df.shape[0]):
    if "Rented for: " in df["Overall_fit"][i]  and "Rented for: " not in df["Rented_for"][i]:
        rented_for_in_overall_fit.append(i)
print(f"There are {len(rented_for_in_overall_fit)} observations where the Rented_For observation is entered in Overall_fit column. ") 

print("This is one such observation BEFORE transformation:")
print(f"This is Overall Fit  entry for row {rented_for_in_overall_fit[0]}")
print(df["Overall_fit"][rented_for_in_overall_fit[0]])
print(f"This is the Rented for entry for row {rented_for_in_overall_fit[0]}")
print(df["Rented_for"][rented_for_in_overall_fit[0]])

#Grab all the Rented For  entered into the Overall_fit column:
#(1) Enter them into the Rented For column
#(2) Replace the Size Usually Worn  observation with "unknown"

for i in rented_for_in_overall_fit:
    df.at[i, "Rented_for"] = df["Overall_fit"][i]
    df.at[i, "Overall_fit"] = "unknown"
    
print("This is one such observation BEFORE transformation:")
print(f"This is Overall Fit  entry for row {rented_for_in_overall_fit[0]}")
print(df["Overall_fit"][rented_for_in_overall_fit[0]])
print(f"This is the Rented for entry for row {rented_for_in_overall_fit[0]}")
print(df["Rented_for"][rented_for_in_overall_fit[0]])

There are 82627 observations where the Rented_For observation is entered in Overall_fit column.
This is one such observation BEFORE transformation:
This is Overall Fit  entry for row 62
Rented for: Vacation
This is the Rented for entry for row 62
Usually wears: 6Height: 5' 5"Age: 33Bust size: 34CBody type: Athletic
This is one such observation BEFORE transformation:
This is Overall Fit  entry for row 62
unknown
This is the Rented for entry for row 62
Rented for: Vacation

In [44]:
for i in range(df.shape[0]):
    if "Usually wears: " in df["Overall_fit"][i]:
        df.at[i, "Overall_fit"] = "unknown"

In [45]:
#This should only have the overall fit. 
df.Overall_fit.value_counts()

Overall fit: True to Size    83537
unknown                      82903
Overall fit: Small           20201
Overall fit: Large           15633
Name: Overall_fit, dtype: int64

In [46]:
# "Rented for" observations entered in "Size"
rented_for_in_size = []
for i in range(df.shape[0]):
    if "Rented for: " in df["Size"][i]  and "Rented for: " not in df["Rented_for"][i]:
        rented_for_in_size.append(i)
print(f"There are {len(rented_for_in_size)} observations where the Rented_For observation is entered in Size  column. ") 

print("This is one such observation BEFORE transformation:")
print(f"This is the Size entry for row {rented_for_in_size[0]}")
print(df["Size"][rented_for_in_size[0]])
print(f"This is the Rented for entry for row {rented_for_in_size[0]}")
print(df["Rented_for"][rented_for_in_size[0]])

#Grab all the Rented For  entered into the size column:
#(1) Enter them into the Rented For column
#(2) Replace the Size  observation with "unknown"

for i in rented_for_in_size:
    df.at[i, "Rented_for"] = df["Size"][i]
    df.at[i, "Size"] = "unknown"

print("This is one such observation AFTER transformation:")

print(f"This is the Size entry for row {rented_for_in_size[0]}")
print(df["Size"][rented_for_in_size[0]])
print(f"This is the Rented for entry for row {rented_for_in_size[0]}")
print(df["Rented_for"][rented_for_in_size[0]])

There are 276 observations where the Rented_For observation is entered in Size  column.
This is one such observation BEFORE transformation:
This is the Size entry for row 36648
Rented for: Everyday
This is the Rented for entry for row 36648
unknown
This is one such observation AFTER transformation:
This is the Size entry for row 36648
unknown
This is the Rented for entry for row 36648
Rented for: Everyday

In [47]:
for i in range(df.shape[0]):
    if "Usually wears: " in str(df["Rented_for"][i]):
        df.at[i, "Rented_for"] = "unknown"

In [48]:
df["Rented_for"]=df["Rented_for"].replace("Rented for: ","", regex=True)

In [49]:
df["Rented_for"]=df["Rented_for"].replace("Other","unknown", regex=True)

In [50]:
#This should only have the rented for categories.
df.Rented_for.value_counts()

Work             41341
Wedding          35503
Everyday         30540
Party            30536
unknown          23902
Formal Affair    17708
Vacation         11489
Date             11255
Name: Rented_for, dtype: int64

In [53]:
df["Size"]=df["Size"].replace("Size worn: ","", regex=True)
df["Size"]=df["Size"].replace("NONE","unknown", regex=True)
df["Size"]=df["Size"].replace("None","unknown", regex=True)

In [54]:
df["Size_usually_worn"]=df["Size_usually_worn"].replace("GOO4","unknown", regex=True)

In [55]:
#Convert height in feet and inches to just inches 
def height_to_inches_convert(col):
    
    '''
    function takes in column with feet and inches height format (e.g. 5 ' 5) and returns value in inches
    col: value with initial string format
    '''
    
    # extracting all numbers from the height column so split from special characters
    
    extract = col.str.extractall("(\d+)").reset_index()
    
    # 2 values come out: one for feet and one for inches
    # isolate both using boolean filter: match column indicates first and second value extracted where ft is index 0
    
    ft = extract["match"] == 0
    inches = extract["match"] == 1
    
    # using boolean filter to get ft, inches and then convert both to numeric
    # ft value multiplied by 12 to convert to inches

    ft_conversion = extract[ft].drop(["level_0", "match"], axis=1).reset_index(drop=True).apply(pd.to_numeric) * 12
    inch_conversion = extract[inches].drop(["level_0", "match"], axis=1).reset_index(drop=True).apply(pd.to_numeric)
    
    # add both numbers for total height in inches
    
    return ft_conversion[0] + inch_conversion[0]

In [56]:
#Get rid of observations with unknown Heights
df_unknowns = df[df["Height"]=="unknown"] 
df = df.drop(df_unknowns.index, axis=0) 
df = df.reset_index()

In [57]:
df["Height"] = height_to_inches_convert(col=df["Height"])

In [58]:
df["Height"]=df["Height"].astype("int")

In [59]:
df.drop(columns="index",inplace=True)
df.drop(columns=["Label6","Label8"],inplace=True)

In [60]:
#Get rid of observations with unknown Ages 
df_unknowns_age = df[df["Age"]=="unknown"] 
df = df.drop(df_unknowns_age.index, axis=0) 
df = df.reset_index()
df.drop(columns="index",inplace=True)
df["Age"]=df["Age"].astype("int")

In [61]:
#Get rid of observations with unknown Weights 
df_unknowns_weight = df[df["Weight"]=="unknown"] 
df = df.drop(df_unknowns_weight.index, axis=0) 
df = df.reset_index()
df.drop(columns="index",inplace=True)
df["Weight"]=df["Weight"].astype("int")

<font style="font-size: 2rem; color: blue">

3. Clean Garment Description Data 
       
</font>

In [63]:
#Removes the fabric content description in the Product Details. Removes everything up to the first parentheses.
df["Product_details"]=df["Product_details"].replace("Lining (100% Cotton) ","", regex=True)
df["Product_details"]=df["Product_details"].replace("sleeve slit","", regex=True)
df["Product_details"]=df["Product_details"].replace("sleees","sleeves", regex=True)
df["Product_details"]=df["Product_details"].replace("sleves","sleeves", regex=True)


parentheses = df["Product_details"][0][54]
for i in range(df.shape[0]):
    df.at[i, "Product_details"] = df["Product_details"][i][df["Product_details"][i].find(parentheses):]
    df.at[i, "Product_details"]= df["Product_details"][i].lower()
df["Product_details"]=df["Product_details"].replace("\). ","", regex=True)
df["Product_details"]=df["Product_details"].replace("\) . ","", regex=True)
df["Product_details"]=df["Product_details"].replace("\) ","", regex=True)

In [64]:
#Break up the garment description into a list and call it "Details". 
#df["Details"][i][0] = style of garment 
#df["Details"][i][2] = style of sleeves
#df["Details"][i][3] = neckline 
#df["Details"][i][4] = length 
#df["Details"][i][5] = Imported or domestic
df["Details"] = 1 
df["Details"] = df["Details"].astype('object')
for i in range(df.shape[0]):
    x = df["Product_details"][i].split(". ")
    df.at[i, 'Details'] = x

In [65]:
# If the following words are present in a description, remove them. 
list_of_removal_words = ["from","embroidery","imported.","lined","hemline","contrast","\"","zipper","made in the usa."]
for k in range(df.shape[0]):
    for word in list_of_removal_words:
        for i in range(len(df["Details"][k])):
            if word in df["Details"][k][i]:
                df["Details"][k][i] = "drop"
for i in range(df.shape[0]):
    clean_list=[]
    for k in range(len(df["Details"][i])):
        if "drop" not in df["Details"][i][k]:
            clean_list.append(df["Details"][i][k])
    df.at[i, 'Details'] = clean_list

<font style="font-size: 2rem; color: blue">

3. Clean Garment Description Data 
<br> Sleeves 
<br>– create a column for type of sleeve on a garment. 
</font>

In [66]:
#This extracts the sleeve description from the item description. 
df["Sleeves"] = 1
df["Sleeves"] = df["Sleeves"].astype('object')
for i in range(df.shape[0]):
    for k in reversed(range(len(df["Details"][i]))):
        if "sleev" in df["Details"][i][k].lower() or "strapless" in df["Details"][i][k].lower() or "halter" in df["Details"][i][k].lower():
            df.at[i, "Sleeves"] = df["Details"][i][k].lower()
            df["Details"][i][k] = "drop"

In [67]:
for i in range(df.shape[0]):
    if "sleeveless" in str(df["Sleeves"][i]) or "sleevleess" in str(df["Sleeves"][i]) or "sleevess" in str(df["Sleeves"][i]) or "sleevelss" in str(df["Sleeves"][i]) or "sleevless" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "sleeveless"
    elif "quarter" in str(df["Sleeves"][i]) or "3/4" in str(df["Sleeves"][i]) or "¾" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "three_quarter_sleeves"
    elif "short" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "short_sleeves"
    elif "long" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "long_sleeves"    
    elif "cap" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "cap_sleeves"   
    elif "flutter" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "flutter_sleeves"    
    elif "strapless" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "strapless"
    elif "halter" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "halter"
    elif "off the shoulder neckline with ruffle detailing on sleeves" in str(df["Sleeves"][i]):
        df.at[i, "Sleeves"] = "short_sleeves"

In [69]:
#These are the type of Sleeves
df.Sleeves.value_counts()

sleeveless               61444
long_sleeves             36855
short_sleeves            35701
three_quarter_sleeves    12262
cap_sleeves               6888
flutter_sleeves           3760
strapless                 3446
1                          689
halter                     282
convertible sleeve          45
elbow-length sleeve         33
three sleeves               32
one shoulder sleeves        27
elbow-length sleeves        11
Name: Sleeves, dtype: int64

<font style="font-size: 2rem; color: blue">

3. Clean Garment Description Data 
<br> Neckline 
<br>– create a column for type of neckline on a garment. 
</font>

In [70]:
#This extracts the sleeve description from the item description. 
df["Neckline"] = 1
df["Neckline"] = df["Neckline"].astype('object')
for i in range(df.shape[0]):
    for k in reversed(range(len(df["Details"][i]))):
        if "neck" in df["Details"][i][k].lower():
            df.at[i, "Neckline"] = df["Details"][i][k]
            df["Details"][i][k] = "drop"

In [71]:
for i in range(df.shape[0]):
    if "v" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "v_neckline"
    elif "mock" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "mock_neckline"
    elif "halter" in str(df["Neckline"][i]) or "hater" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "halter"
    elif "high" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "high_neckline"
    elif "shoulder" in str(df["Neckline"][i]) or "shoudler" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "off_shoulder"
    elif "shirt" in str(df["Neckline"][i]) or "collar" in str(df["Neckline"][i]):
        df.at[i, "Neckline"] = "shirt_collar_neckline"    
    elif "crew" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "crew_neckline"     
    elif "sweetheart" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "sweetheart"    
    elif "cowl" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "cowl_neckline"    
    elif "back" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "back_necktie" 
    elif "square" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "square_neckline" 
    elif "scoop" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "scoop_neckline" 
    elif "tie" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "tie_neckline" 
    elif "turtle" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "turtleneck"  
    elif "straight neckline" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "turtleneck" 
    elif "boat" in str(df["Neckline"][i]) :
        df.at[i, "Neckline"] = "boat_neckline"

In [72]:
#These are the total neckline types. 
df.Neckline.value_counts()

v_neckline                      54187
crew_neckline                   40485
high_neckline                   11327
square_neckline                 10072
off_shoulder                     8684
1                                7565
shirt_collar_neckline            5797
sweetheart                       5746
boat_neckline                    5197
scoop_neckline                   5082
turtleneck                       3049
mock_neckline                    2701
cowl_neckline                    1018
tie_neckline                      159
back_necktie                      136
asymmetric neckline                69
plunge neckline                    61
surplice neckline                  29
plunge neck                        27
split neck                         24
hook-and-eye closure at neck       23
halter                             17
n-neckline                         15
split neckline                      5
Name: Neckline, dtype: int64

<font style="font-size: 2rem; color: blue">

3. Clean Garment Description Data 
<br> Dress Style
<br>– create a column for type of dress of a garment. 
</font>

In [73]:
for i in range(df.shape[0]):
    clean_list=[]
    for k in range(len(df["Details"][i])):
        if "drop" not in df["Details"][i][k]:
            clean_list.append(df["Details"][i][k])
    df.at[i, 'Details'] = clean_list

In [74]:
#This extracts the dress style description from the item description. 
df["Dress_Style"] = 1
df["Dress_Style"] = df["Dress_Style"].astype('object')
            
for i in range(df.shape[0]):
    if len(df["Details"][i])>0:
        df.at[i, "Dress_Style"] = df["Details"][i][0]

In [75]:
for i in range(df.shape[0]):
    if "hourglass" in str(df["Dress_Style"][i]) or "hpurglass" in str(df["Dress_Style"][i]) or "hourgless" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "hourglass"
    elif "wrap" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "wrap"
    elif "maxi" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "maxi"
    elif "blouson" in str(df["Dress_Style"][i]) or "blosuon" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "blouson"  
    elif "shirtdress" in str(df["Dress_Style"][i]) or "shirt dress" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "shirtdress"   
    elif "sheath" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "sheath"   
    elif "a-line" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "a-line"  
    elif "empire" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "empire_waist"
    elif "gown" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "gown"    
    elif "shift" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "shift" 
    elif "slip" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "slip_dress"  
    elif "lining: 80% nylon, 20% spandex" in str(df["Dress_Style"][i]) or "three quarter sleeves" in str(df["Dress_Style"][i])  :
        df.at[i, "Dress_Style"] = "sheath"
    elif "short sleeves with cold shoulder detail" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "maxi"  
    elif "sleeveless with shirt collar" in str(df["Dress_Style"][i]) or "full skirt" in str(df["Dress_Style"][i]):
        df.at[i, "Dress_Style"] = "full skirt"

In [76]:
#These are the final Dress styles of each garment. 
df.Dress_Style.value_counts()

hourglass                                            55714
sheath                                               44857
shift                                                15024
gown                                                 10795
maxi                                                  7819
full skirt                                            7028
wrap                                                  6132
blouson                                               2994
1                                                     1548
fitted skirt                                          1370
empire_waist                                          1264
a-line                                                1038
see size and fit tab for length                        702
shirtdress                                             443
step in and pull up style                              283
pencil skirt                                           265
.                                                      224
cocktail dresses                                       159
slip_dress                                             152
one shoulder                                           151
ruched bodice                                          151
mermaid skirt                                          148
dress                                                  138
fitted skirt with front slit                           122
casual dresses                                         113
fit and flare skirt                                     98
ruched waist                                            89
fitted skirt with back slit                             88
boned bodice                                            84
pencil skirt with ruching                               83
shirt collar                                            75
fitted bodice                                           71
elastic waistband                                       66
cowl back detail                                        58
pencil skirt with scalloped lace hem                    57
hidden side pockets                                     37
fitted skirt with peplum                                36
fitted tea length skirt                                 35
open back                                               35
fitted skirt with sheer waist panel                     34
back keyhole with button closure                        34
step in and pull up in style                            34
side and back cut out detail                            34
sewn on rosette details                                 34
full pleated skirt                                      34
straight skirt with back slit                           33
hook-and-eye closure                                    33
sweater                                                 33
fitted envelope skirt                                   33
full trumpet skirt with illusion detail                 33
                                                        33
open back with button closure                           32
fitted skirt.                                           32
full hi lo skirt                                        32
straight skirt with mesh insert at waist                32
full hi-low skirt                                       32
lace detail at hem                                      31
pencil skirt with flounce ruffled hem                   31
see size and fit tab for full length                    31
full tea length skirt                                   31
low back with cowl                                      31
exposed front button closures                           31
column skirt with front slit and cut-out at waist       31
elastic waistband with drawstring                       31
v-back                                                  30
side and back cut outs                                  30
full floral skirt                                       30
made in nyc.                                            30
cutout at waist                                         29
see size and fit tab for length.                        29
ruching waist                                           29
black panels at waist and back                          29
fitted skirt with side slit                             29
high low                                                28
pencil skirt with ruching at waist                      28
trumpet skirt                                           28
side pockets                                            28
sequin overlay                                          28
fitted skirt with peplum detail                         28
sheer bodice                                            28
sequin coloration may vary                              27
pencil skirt with ruching detail                        27
low back                                                27
fitted skirt with twist detail at waist                 27
draped back                                             27
illusion with black and white overlay lace              26
fitted skirt with side ruching at waist                 26
hourlgass                                               26
lining: 100% polyester                                  26
sweater dress                                           25
beaded waist                                            25
fitted skirt with mermaid hem                           25
off the shoulder                                        25
ruched bodice with draping detail on back               24
column                                                  24
straight                                                23
back cut out                                            23
straight skirt with side ruching and front slit         23
tiered ruffle skirt with stripe detail                  22
combo (100% polyestercolumn                             22
fitted skirt with trumpet hem                           22
\nlace detail at hem                                    22
midi                                                    21
caftan                                                  19
exposed front button down placket                       19
tunic dress                                             19
imported                                                 9
fit-and-flare                                            8
top                                                      5
see size and fit notes for length measurements           5
bodycon                                                  2
mini                                                     2
mermaid                                                  1
blouse                                                   1
tunic                                                    1
pull-on                                                  1
houseglass                                               1
Name: Dress_Style, dtype: int64

In [77]:
df.shape

(161475, 20)

In [78]:
df.columns

Index(['Size', 'Overall_fit', 'Rented_for', 'Size_usually_worn', 'Height',
       'Age', 'Bust_size', 'Body_type', 'Weight', 'Rating', 'Brand',
       'Dress_Description', 'Retail_price', 'Rent_price', 'Product_details',
       'Number_of_reviews', 'Details', 'Sleeves', 'Neckline', 'Dress_Style'],
      dtype='object')

In [80]:
df.drop(df[df['Sleeves'] == 1].index, inplace = True)

In [82]:
df.drop(df[df['Neckline'] == 1].index, inplace = True)

In [83]:
df.drop(df[df['Dress_Style'] == 1].index, inplace = True)

In [84]:
df.drop(df[df['Dress_Style'] == "."].index, inplace = True)

In [85]:
df.shape

(152018, 20)

In [86]:
df.drop(columns=["Details",'Product_details'],inplace=True)

In [88]:
df.columns

Index(['Size', 'Overall_fit', 'Rented_for', 'Size_usually_worn', 'Height',
       'Age', 'Bust_size', 'Body_type', 'Weight', 'Rating', 'Brand',
       'Dress_Description', 'Retail_price', 'Rent_price', 'Number_of_reviews',
       'Sleeves', 'Neckline', 'Dress_Style'],
      dtype='object')

In [95]:
df.Height.unique()

array([ 66,  67,  70,  64,  65,  76,  72,  68,  62,  69,  63,  61,  71,
        60,  59,  74,  73,  55,  58,  75,  57,  56, 126,  54,  78,  53,
        77])